{% load staticfiles %}
{% load i18n %}

<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}
    {% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    {% block extra_head %} <!-- block for templates to put stuff into header -->
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> {% trans 'Home' %}</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_graph' %}"><i class="fas fa-chart-bar"></i> {% trans 'Graphs' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i> {% trans 'Configuration' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'list_graph_selector' %}"><i
                                class="fas fa-filter"></i> {% trans 'Graph Selectors' %}</a>
                        <a class="dropdown-item" href="{% url 'list_type' %}"><i
                                class="fas fa-ticket-alt"></i> {% trans 'Types' %}</a>
                        <a class="dropdown-item" href="{% url 'list_instance' %}"><i
                                class="fas fa-inbox"></i> {% trans 'Instances' %}</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-user-shield"></i> {% trans 'Admin' %}</a>
                </li>
            {% endif %}

            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link"
                       href="{% url 'logout' %}">{% trans 'Logout' %} {{ user.first_name }} {{ user.last_name }} <i
                            class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %} <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</div>

{% block script %}
{% endblock %}

</body>
</html>