{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load class_tag %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
          integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        {% for d in display_data %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ d.label }}</h5>
                        {% language 'en' %}
                            <h3>{{ d.value|floatformat:1 }} {{ d.unit }}</h3>
                        {% endlanguage %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/>

    {% for g in graphs %}
        <canvas id="chart_{{ g.pk }}"></canvas>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>


    <script>

        $(document).ready(function () {
            {% for g in graphs %}
                var datasets = [];
                {% for gd in graph_data|get_item:g.pk %}

                    datasets.push({
                        label: '{{ gd.label }}',
                        suffix: '{{ gd.unit }}',
                        borderColor: '{{ gd.color }}',
                        data: [
                            {% language 'en'%}
                                {% for dp in gd.data %}
                                    {x: '{{ dp.timestamp|date:"Y-m-d H:i" }}', y: '{{ dp.value|floatformat:1 }}'},
                                {% endfor %}
                            {% endlanguage %}
                        ]
                    });

                {% endfor %}

                let chart_{{ g.pk }}_canvas = document.getElementById('chart_{{ g.pk }}');
                let chart_{{ g.pk }} = new Chart(chart_{{ g.pk }}_canvas, {
                    type: 'line',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        legend: {
                            labels: {
                                fontColor: 'white'
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    display: false,
                                    fontColor: 'white'
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: 'grey'
                                },
                                ticks: {
                                    fontColor: 'white'
                                }
                            }]
                        },
                        elements: {
                            point: {
                                radius: 0
                            },
                            line: {
                                borderWidth: 2
                            }
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                            backgroundColor: '#444444',
                            callbacks: {
                                title: function (tooltipItems, data) {
                                    return moment(tooltipItems[0].xLabel).format("HH:mm, DD. MMM YYYY");
                                },
                                label: function (tooltipItems, data) {
                                    return data.datasets[tooltipItems.datasetIndex].label + ' ' + tooltipItems.yLabel + ' ' + data.datasets[tooltipItems.datasetIndex].suffix;
                                }
                            }
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        title: {
                            display: true,
                            text: '{% if g.title %}{{ g.title }}{% else %}{{ g.name }}{% endif %}',
                            fontColor: 'white'
                        }
                    }
                });

            {% endfor %}


        });

    </script>
{% endblock %}